<h3>Appointment Booking</h3>
<div class="row top-space">
    <div class="card card-margin col-lg-6 col-md-6 col-sm-8">
        <h3><strong><img src="../images/icons/bookappointment.png" height="50" width="50"> Book an Appointment</strong></h3>

        <form ng-submit="bookAppointment()">

            <div class="form-group">
                <label for="doctor"><strong>Doctor Name</strong></label>
                <select ng-options="doctor.dFirst+' '+doctor.dLast for doctor in doctors" ng-model="selectedDoctor" ng-change="hasChanged()"
                    required>
                </div>
               <div class="form-group">
                    <label><strong>Reason</strong></label>
                    <input type="text" ng-model="reason" name="reason" class="form-control input-lg" id="reason" placeholder="Reason"  required>
                </div>
                <div class="form-group">
                    <label><strong>Select Appointment Date</strong></label>
                    <input type="date" ng-model="date" name="date" class="form-control input-lg" id="date" required>
                </div>
                  <div class="form-group">
                    <label><strong>Did you have Stroke before?</strong></label>
                    <select class="form-control" id="stroke" ng-model="stroke">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
            </div>
            <div class="form-group">
                <label><strong>Current Medicine</strong></label>
                <input type="text" ng-model="medicine" name="medicine" class="form-control input-lg" id="medicine" placeholder="What medicine are you taking"
                    required>
            </div>
            <div class="form-group">
                <label><strong>Allergies</strong></label>
                <input type="text" ng-model="allergies" name="allergies" class="form-control input-lg" id="allergies" placeholder="Are you Allergic to anything"
                    required>
            </div>


            <button type="submit" id="submit" class="btn btn-info btn-lg">Submit</button>
        </form>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-8 card card-margin" ng-show="selectedDoctor">
        <h4><img src="../images/icons/doctor.png" height="50" width="50"> Doctor Details</h4>

        <div class="row">
            <div class="col card-data-padding">
                <p><strong>Name </strong> {{selectedDoctor.dFirst}} {{selectedDoctor.dLast}}</p>
                <p><strong>Specialization</strong> : {{selectedDoctor.dSpecialization}}</p>
                <p><strong>Email </strong> : {{selectedDoctor.dEmail}}</p>
                <p><strong>Phone</strong> : {{selectedDoctor.dPhone}}</p>
                <p><strong>Address</strong> : {{selectedDoctor.dAddress}}</p>
            </div>
        </div>
    </div>
</div>