<h3>Recommendations</h3>

<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-sm-12">

        <div class="col-sm-6 col-md-4 col-lg-4 col-xs-8 card card-margin">
            <center><img class="graph-img" src="../images/icons/distance.png" /><br><br>
                <p>Your Proposed Goal Is:<strong><h3 style="color:#00AEEF">{{ctrl.recommendation.goals_distance}} Miles</h3></strong></p>
                    <h4><b>Distance</b></h4>
            </center>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 col-xs-8 card card-margin">
            <center><img class="graph-img" src="../images/icons/steps.png" /><br><br>
                <p>Your Proposed Goal Is:<strong><h3 style="color:#76C2AF">{{ctrl.recommendation.goals_steps}}</h3></strong></p>
                    <h4><b>Steps</b></h4>
            </center>
        </div>


       
    </div>



    <div class="col col-lg-12 col-md-12 col-sm-12 col-sm-12">

         <div class="col-sm-6 col-md-4 col-lg-4 col-xs-8 card card-margin">
            <center><img class="graph-img" src="../images/icons/calories.png" /><br><br>
                <p>Your Proposed Goal Is:<strong><h3 style="color:#FE684E">{{ctrl.recommendation.goals_calories}}</h3></strong></p>
                <h4><b>Calories</b></h4>
            </center>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 col-xs-8 card card-margin">
            <center><img class="graph-img" src="../images/icons/run.png" /><br><br>
                <p>Your Proposed Goal is:<strong><h3 style="color:#E0995E">{{ctrl.recommendation.goals_activeminutes}} minutes</h3></strong></p>
                    <h4><b>Exercise</b></h4>
            </center>
        </div>

        <!--<div class="col-sm-offset-2 col-sm-3 col-sm-offset-1 card card-margin">
            <center><img class="graph-img" src="../images/icons/water.png" /><br><br>
                <p>Your Proposed Goal Is to drink water is:<strong><h3 style="color:#77B3D4">{{ctrl.recommendation.goals_weight}} oz</h3></strong></p>
                    <h4><b>Water</b></h4>
            </center>
        </div>-->

    </div>
</div>